/.bundle/
/.yardoc
/.ruby-version
/Gemfile.lock
/gems
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/spec/output/
/SR1
/SRvt

# rspec failure tracking
.rspec_status

# Ignore IDE files
/.idea
*.rubocop-http*

# measures tests
lib/measures/.rubocop.yml
lib/measures/test_results/*

spec/files/filecomparison/in.idf
spec/files/filecomparison/in.osm
spec/files/filecomparison/originalfiles/in.idf
spec/weather/weather_file.json

.DS_Store
